<div class="container">
    <h1 class="text-center mb-3">Goa Todo List with Ansley Rebello 
                <img class="img-fluid" loading="lazy" src="/Goa.png" alt="About 1" style="max-width: 100px">
    </h1>

<app-add-todo 


(todoAdd)="addTodo($event)"
>

</app-add-todo>

<h4>Your Todos</h4>

<div *ngIf="todos.length === 0; else elseBlock">No Todos to Display</div>

<ng-template #elseBlock>

<!-- This is the child component’s selector —
means we’re using the child (TodoItemComponent) inside the parent’s HTML. -->
<div *ngFor="let todo of todos">
    <!-- take each item from the todo Array and put it in app-todo-item -->

    <!-- [todo]="todo" means provide the todo to the child com-->
    <app-todo-item 
    
    [todo]="todo" 
    
    (todoDelete)="deleteTodo($event)"
    >

    </app-todo-item>
    <!-- The round brackets () mean you’re listening to an event from the child. -->
</div>

</ng-template>

</div>



<!-- here the connection is taking place of the todos.component.ts and the todo-item.component.ts -->